body {
  background-color: #f5f6fa;
}

.navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 70px;
  background-color: #fff;
}

.navbar h1 {
  font-size: 30px;
  font-weight: 700;
  font-family: Montserratapple-system, system-ui, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.user-img {
  width: 30px;
  height: 30px;
  margin-left: auto;
}

.user-img img {
  width: 100%;
}

.app-logo {
  color: #0290ff;
}

.navbar p {
  margin-left: 30px;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.disabled {
  opacity: 0.5;
}

/* Filter */
.filter-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-word,
.filter-select {
  font-size: 20px;
}

/* Book */
table {
  width: 100%;
}

.book-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 20px 60px;
  background-color: #fff;
}

.book-info {
  display: flex;
  flex-direction: column;
}

.book-category {
  padding-top: 10px;
  opacity: 0.5;
  font-size: 14px;
  font-weight: bold;
}

.book-title {
  width: 197px;
  font-size: 22px;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 700;
  color: #121212;
}

.options {
  margin: 20px 0 10px 0;
}
.buttons {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  background: none;
  cursor: pointer;
  border: none;
}
.border-right {
  border-right: 1px solid #ddd;
}
